@charset "UTF-8";
/* CSS Document */

/* ----------------------------------------------------------------
	Buttons Start
-----------------------------------------------------------------*/
.btn-secondary,
.btn-danger,
.btn-info,
.button,
.btn_1,
.btn_map,
.btn{
background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07)!important;
border: 1px solid #a55d07!important;
color: rgb(120,50,5)!important;
text-shadow: 0 2px 2px rgba(250, 227, 133, 1)!important;
cursor: pointer;
transition: all .2s ease-in-out;
background-size: 100% 100%;
background-position:center;	
box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1)!important;
text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
text-decoration: none;
font-weight: bold;
display: inline-block;
outline: none!important;
font-family: inherit;

             
}

.btn-secondary:hover,
.btn-danger:hover,
.btn-info:hover,
.btn_map:hover,
.button:hover,
.btn_1:hover,
.btn:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1)!important;
  border: 1px solid rgba(165,93,7,.6)!important;
color: black!important;

}


/* ----------------------------------------------------------------
	Buttons End
-----------------------------------------------------------------*/

#content{

          background-color:#ebedee; 
        }


/* ----------------------------------------------------------------
    Buttons End
-----------------------------------------------------------------*/

a.btn_2, .btn_2{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:#fff;
    background: #008489;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size:13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight:600;
}
a.btn_2.green, .btn_2.green  {background: #83c99f;}

a.btn_2.white, .btn_2.white  {background: #fff; color:#e04f67;}
a.btn_2.white:hover, .btn_2.white a:hover  {background: #333; color:#fff;}

a.btn_2.white, .btn_2.white  {background: #fff; color:#e04f67;}
a.btn_2.white:hover, .btn_2.white a:hover  {background: #333; color:#fff;}

a.btn_2.outline,.btn_2.outiline, input .btn_2.outiline{
    color:#555;
    background: none;
    border:2px solid #555;
    padding: 5px 18px;
}
a.btn_2.outline:hover,.btn_2.outiline:hover, input .btn_2.outiline:hover{
    color:#fff;
    background:#e04f67;
    border:2px solid #e04f67;
}

a.btn_2.medium, .btn_2.medium  {
    padding: 10px 25px;
    font-size:14px;
}
a.btn_2.small, .btn_2.small  {
    padding: 5px 8px;
    font-size:10px;
    line-height:9px;
    text-transform:none;
    color:#fff !important;
}
a.btn_2:hover, .btn_2:hover {
    background: #333;
}

  @media (max-width: 600px) {
    .hide-on-small {
      display: none;
    }
  }




